*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container{
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}

.inner-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:1px solid red;
}

.btns{
    
}